<h1> <img src="https://e7.pngegg.com/pngimages/559/601/png-clipart-halliburton-logo-baker-hughes-a-ge-company-oil-field-halliburton-logo-company-text.png" align="up" height="300" width="600" />

# **Machine Learning For Citizens**
---
*Introduccion Al Machine Learning Para No Programadores*

#**Agenda**
**1.   Introducción**

**2.   Fundamentos Machine Learning**

**3.   Carga y Visualización de Datos**

**4.   Preparación de la Base de Datos**

**5.   Analisis Predictivo:** ¿Sobreviviría Si Hubiera Estado En El Titanic?

**6.   Conclusiones**

# **1.   Introducción**

*  **¿Qué es Mineria de Datos?**

  Es el proceso mediante el cual se descubren nuevas correlaciones signficativas, patrones y tendencias filtrando grandes cantidades de datos almacenados en repositorios o bases de datos, usando tecnologias de reconocimiento de patrones asi como técnicas matemáticas y estadísticas.

  **Ejemplo:** Un banco puede tener una base de datos de los creditos otorgados a sus clientes en los ultimos 10 años, dentro de esta base se pueden encontrar relaciones tales como: "Las personas nacidas antes de 1970 tienen una mayor probabilidad de pagar su credito que las personas nacidas despues de 1980".
*   **¿Qué es Machine Learning?**

  "Se dice que un programa de computadora *Aprende* de la *Experiencia E* con respecto a alguna *Clase de Tarea T* y con una *Medida de Rendimiento P*, si el rendimento en *T* medido por *P* mejora con la experiencia *E*. *Tom Mitchell, Carneguie Mellon University, 1997.

  **Ejemplo:** Tarea T: predecir si un estudiante pasara el examen de este curso mañana. Experiencia E: datos historicos de los cursos anteriormente hechos. Medida de Rendimiento: porcentaje de aciertos de los estudiates que pasaron y que el modelo predijo.

*   **Para que Sirve?** (Tomado de SAS: https://www.sas.com/es_co/insights/analytics/machine-learning.html)

<h1> <img src="https://www.pandasecurity.com/spain/mediacenter/src/uploads/2015/11/malware.jpg" align="Right" height="150" width="300" />

> Servicios Financieros: Los bancos y otras empresas de la industria financiera utilizan la tecnología del aprendizaje basado en máquina para dos fines principales: identificar insights importantes en los datos y prevenir el fraude. Los insights pueden identificar oportunidades de inversión o bien ayudar a los inversionistas a saber cuándo vender o comprar. La minería de datos también puede identificar clientes con perfiles de alto riesgo o bien utilizar la cíber vigilancia para detectar signos de advertencia de fraude.

<h1> <img src="https://i.ytimg.com/vi/BaMFNZBk-vY/maxresdefault.jpg" align="Right" height="150" width="300" />

> Gobierno: Dependencias de gobierno como seguridad pública y los servicios públicos tienen una necesidad particular del machine learning porque tienen múltiples fuentes de datos de las que se pueden extraer insights. Por ejemplo, el análisis de datos de sensores identifica formas de incrementar la eficiencia y ahorrar dinero. Asimismo, el aprendizaje basado en máquina puede ayudar a detectar fraude y minimizar el robo de identidad.

<h1> <img src="https://pyimagesearch.com/wp-content/uploads/2019/02/breast_cancer_classification_dataset.jpg" align="Right" height="150" width="300" />

> Salud: El machine learning es una tendencia en rápido crecimiento en la industria de atención a la salud, gracias a la aparición de dispositivos y sensores de vestir que pueden usar datos para evaluar la salud de un paciente en tiempo real. Asimismo, la tecnología puede ayudar a expertos médicos a analizar datos para identificar tendencias o banderas rojas que puedan llevar a diagnósticos y tratamientos mejorados.

<h1> <img src="https://miro.medium.com/max/1000/1*Qvvgt_WIadI-wVB0TE9jxg.jpeg" align="Right" height="150" width="300" />

> Marketing: Los sitios Web que le recomiendan artículos que podrían gustarle con base en compras anteriores, utilizan el machine learning para analizar su historial de compras – y promocionar otros artículos que podrían interesarle. Esta capacidad de capturar datos, analizarlos y usarlos para personalizar una experiencia de compra (o implementar una campaña de marketing) es el futuro del comercio detallista.

<h1> <img src="https://futureautomotivemarkettrends.files.wordpress.com/2019/05/artificial-intelligence-transportation.jpg?w=640" align="Right" height="150" width="300" />

> Transporte: Analizar datos para identificar patrones y tendencias es clave para la industria del transporte, que se sustenta en hacer las rutas más eficientes y anticipar problemas potenciales para incrementar la rentabilidad. Los aspectos de análisis y modelado de datos del machine learning son herramientas importantes para las compañías de mensajería, transporte público y otras organizaciones de transporte.

<h1> <img src="https://www.enverus.com/wp-content/uploads/2017/07/image3-machinelearning.png" align="Right" height="150" width="300" />

> Oil & Gas: Cómo encontrar nuevas fuentes de energía. Análisis de minerales del suelo. Predicción de fallos de sensores de refinerías. Optimización de la distribución de petróleo para hacerla más eficiente y económica. El número de casos de uso del machine learning en esta industria es vasto – y continúa creciendo.

# **2.   Fundamentos de Machine Learning**

## **2.1   Definicion Intuitiva**

<h1> <img src="https://qph.fs.quoracdn.net/main-qimg-a3b451c289a71014f9ecee452963f6c8" align="Left" height="300" width="350" />

<h1> <img src="https://miro.medium.com/max/1946/1*zOl_ztYqnzyWRkBffeOsRQ.png" align="Center" height="300" width="620" />

<h1> <img src="https://miro.medium.com/max/1148/1*ArM2nhi7ZQNgdegWAWgG4Q.png" align="Left" height="300" width="350" />

<h1> <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/iris-flower-dataset-graph.JPG" align="Left" height="300" width="300" />

<h1> <img src="https://scipy-lectures.org/_images/sphx_glr_plot_iris_knn_001.png" align="Left" height="300" width="350" />

Podemos definir *Machine Learning* como el conjunto de aproximaciones para estimar la funcion *f* (para predecir un valor-Regresion- o para asignar una categoria-clasificacion), usando datos previos y evaluando su rendimiento o capacidad de predicción, haciendo que esta prediccion mejore con el uso recursivo de datos

## **2.2   Tipos de Variables**

 <img src="https://enciclopediaeconomica.com/wp-content/uploads/2018/12/variables.jpg" align="Right" height="350" width="420" />

Es importante definir los tipos de variables que podemos encontrar en nuestros datos, con el fin de dar el mejor y mas adecuado tratamiento a cada una.

**Variables Cualitativas:** Las variables cualitativas son aquellas características o cualidades que no pueden ser calculadas con números, sino que son clasificadas con palabras.

*   *Cualitativa nominal:* aquellas variables que no siguen ningún orden en específico. Por ejemplo, los colores, tales como el negro, naranja o amarillo.
*   *Cualitativa ordinal:* aquellas que siguen un orden o jerarquía. Por ejemplo, el nivel socioeconómico alto, medio o bajo.
*   *Cualitativa binaria:* variables que permiten tan solo dos resultados. Por ejemplo, sí o no; hombre o mujer.

**Variables Cuantitativas:** Las variables cuantitativas son aquellas características o cualidades que sí pueden expresarse o medirse a través de números.

*   *Cuantitativa discreta:* aquella variable que utiliza valores enteros y no finitos. Por ejemplo, la cantidad de familiares que tiene una persona, tal como 2, 3, 4 o más.
*   *Cuantitativa continua:* aquella variable que utiliza valores finitos y objetivos, y suele caracterizarse por utilizar valores decimales. Por ejemplo, el peso de una persona, tal como 64.3 kg, 72.3 kg, etc.

Para evaluar el rendimiento de las aproximaciones de la estimación de *f* se utilizan métricas que nos ayudan a medir "que tan bien aproxima *f* a mi valor real".

Para los modelos de **Regresion**, es necesario definir el *MSE* o *Media del Error Cuadratico*.

<h1> <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Residuals_for_Linear_Regression_Fit.png" align="Left" height="250" width="350" />

<h1> <img src="https://i.imgur.com/vB3UAiH.jpg" align="Center" height="250" width="600" />

Para los modelos de **Clasificación**, es necesario definir el *Accuracy*, *Sensitividad* y *Especificidad*.

<h1> <img src="https://4.bp.blogspot.com/-jNSCuV2OtOY/XMfoQka3qaI/AAAAAAAAEjY/TiFX8HALafAVzu_zp5njDqOoGCqzyVouwCLcBGAs/s1600/1_001%2Bnew.jpg" align="Left" height="250" width="400" />

<h1> <img src="https://2.bp.blogspot.com/-EvSXDotTOwc/XMfeOGZ-CVI/AAAAAAAAEiE/oePFfvhfOQM11dgRn9FkPxlegCXbgOF4QCLcBGAs/s1600/confusionMatrxiUpdated.jpg" align="Right" height="250" width="450" />

## **2.3   Paradigma Sesgo - Varianza**
Cuando deseamos generar un modelo, usamos los datos disponibles para que este "aprenda de ellos" y luego estime valores acerca de "nuevos datos".

En ese orden de ideas, los datos totales se deben dividir entre *Train* y *Test*. De esta manera, nuestros modelo lo generamos con nuestros datos de *Train* y los probamos con los datos de *Test*.

* Si el modelo predice muy bien los datos de test, no aprendió de los datos, "se aprendió los datos" (Alto Sesgo), cuando evalue el modelo con los datos de test, no los predecirá bien (Alta Varianza).
* Un enfoque puede ser dejar que el modelo no prediga tan bien mis datos de test (Minimizar el Sesgo) para que cuando vea datos nuevos (test) prediga mejor (Minimizar la Varianza).
* Sin embargo, existe un un punto donde disminur el sesgo juega en contra y la varianza de mi modelo: al ver datos nuevos tiene un error mayor.

La clave es encontrar un punto de equilibrio que me permita minimizar el error cuando el modelo vea datos nuevos.


<h1> <img src="https://miro.medium.com/max/978/1*CgIdnlB6JK8orFKPXpc7Rg.png
" align="Left" height="250" width="250" />

<h1> <img src="https://gblobscdn.gitbook.com/assets%2F-LvBP1svpACTB1R1x_U4%2F-LvNWUoWieQqaGmU_gl9%2F-LvNoby-llz4QzAK15nL%2Fimage.png?alt=media&token=41720ce9-bb66-4419-9bd8-640abf1fc415" align="Left" height="250" width="700" />

# **3.   Carga y Visualizacion de Datos**


## **3.1   Carga de Base de Datos**

Para comenzar vamos a tomar una base de datos de los registros del personal de Titanic:

| Variable | Descripción|
|:----------|:------------|
|Survived  | Si el pasajero sobrevide: 0 = No, 1 = No |
|Pclass| Clase del tiquete: 1 = 1st, 2 = 2nd, 3 = 3rd |
|Name| Nombre del pasajero |
|Sex| Genero del pasajero |
|Age| Edad del pasajero|
|SibSp| Numero de herman@s / Espos@s abordo del Titanic|
|Parch| Acompañante: mother=1, father=1, Child = 2 daughter=3, son=4, stepdaughter=5, stepson=6, nanny=0 |
|Ticket| Numero De Tiquete |
|Fare| Tarifa Del Tiquete |
|Cabin| Numero De Cabina |
|embarked| Puerto De Embarque: C = Cherbourg, Q = Queenstown, S = Southampton|

### **3.1.1   Carga de Librerias a Usar**

Con el fin de utilizar funcionalidades espeficicas, cargaremos librerias o paquetes funcionales que nos permitiran acceder a funciones especificas para manipular archivos, dataframes, hacer analisis grafico y modelos de machine learning.

In [10]:
import pandas as pd
import numpy as np
from numpy import loadtxt
from pylab import *
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all"
from IPython.display import display, HTML
import pandas as pd
from scipy import stats
import pandas_profiling
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import missingno as msno;

### **3.1.2   Carga de la Base de Datos**

In [9]:
url = "https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv"

Base = pd.read_csv(url,index_col=0)
Base.head(10)

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S
6                   0       3  ...   NaN        Q
7                   0       1  ...   E46        S
8                   0       3  ...   NaN        S
9                   1       3  ...   NaN        S
10                  1       2  ...   NaN        C

[10 rows x 11 columns]

In [6]:
Base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [8]:
Base.head(50)

             Survived  Pclass  ...        Cabin Embarked
PassengerId                    ...
1                   0       3  ...          NaN        S
2                   1       1  ...          C85        C
3                   1       3  ...          NaN        S
4                   1       1  ...         C123        S
5                   0       3  ...          NaN        S
6                   0       3  ...          NaN        Q
7                   0       1  ...          E46        S
8                   0       3  ...          NaN        S
9                   1       3  ...          NaN        S
10                  1       2  ...          NaN        C
11                  1       3  ...           G6        S
12                  1       1  ...         C103        S
13                  0       3  ...          NaN        S
14                  0       3  ...          NaN        S
15                  0       3  ...          NaN        S
16                  1       2  ...          NaN        S
17                  0       3  ...          NaN        Q
18                  1       2  ...          NaN        S
19                  0       3  ...          NaN        S
20                  1       3  ...          NaN        C
21                  0       2  ...          NaN        S
22                  1       2  ...          D56        S
23                  1       3  ...          NaN        Q
24                  1       1  ...           A6        S
25                  0       3  ...          NaN        S
26                  1       3  ...          NaN        S
27                  0       3  ...          NaN        C
28                  0       1  ...  C23 C25 C27        S
29                  1       3  ...          NaN        Q
30                  0       3  ...          NaN        S
31                  0       1  ...          NaN        C
32                  1       1  ...          B78        C
33                  1       3  ...          NaN        Q
34                  0       2  ...          NaN        S
35                  0       1  ...          NaN        C
36                  0       1  ...          NaN        S
37                  1       3  ...          NaN        C
38                  0       3  ...          NaN        S
39                  0       3  ...          NaN        S
40                  1       3  ...          NaN        C
41                  0       3  ...          NaN        S
42                  0       2  ...          NaN        S
43                  0       3  ...          NaN        C
44                  1       2  ...          NaN        C
45                  1       3  ...          NaN        Q
46                  0       3  ...          NaN        S
47                  0       3  ...          NaN        Q
48                  1       3  ...          NaN        Q
49                  0       3  ...          NaN        C
50                  0       3  ...          NaN        S

[50 rows x 11 columns]